### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule java-developer index.html
RewriteRule who-am-I user.html
RewriteRule java-website-developer-spring usertodo.html
RewriteRule cv-java-developer cv.html
RewriteRule contact-developer contact.html